<template> <!-- Es requerido porque Vue reconoce que tiene un contenido HTML-->
  <div class="container">
    <h1>
      {{appName}}
    </h1>
    <!-- el commit ejecuta una mutacion -->
<!--    <button class="btn btn-success btn-block" @click="$store.commit('increment', 1)">-->
    <button class="btn btn-success btn-block" @click="increment(1)">
      Incrementar
    </button>
    <div class="alert alert-secondary text-center mt-3">
      <!-- {{$store.state.counter}} Accede desde el state directamente -->
      {{counter}} <!-- Accede a la variable desde el mapState -->
    </div>
<!--    <button class="btn btn-danger btn-block" @click="$store.commit('decrement')">-->
    <button class="btn btn-danger btn-block" @click="decrement()">
      Decrementar
    </button>
  </div>
</template>

<script>
  import {mapState, mapMutations} from 'vuex';
  export default {
    computed: {
      ...mapState(['counter', 'appName']) // Con el spread operator (...) se accede a todos metodos y componentes dentro del state
    },
    methods: {
      ...mapMutations(['increment', 'decrement'])
    }
  }
</script>

<style lang="scss">

</style>