<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{message}}
    </div>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                message: 'Hola Mundo'
            }
        }
    })
</script>
</body>
</html>