<template>
  <div>
    <div v-if="cart.length > 0">
      <b-table striped hover :items="cart" :fields="fields">
        <template #cell(actions)="cell">
          <b-button size="sm" variant="danger" @click.stop="removeProductFromCart(cell.item)">
            Eliminar
          </b-button>
        </template>
      </b-table>
      <b-alert show variant="success" class="text-center">
        Coste  total: ${{totalCost}}
      </b-alert>
    </div>
    <b-alert v-else show variant="info">No hay productos en el carrito</b-alert>
  </div>
</template>
<script>
  import {mapGetters, mapMutations, mapState} from 'vuex';
  export default {
    data () {
      return {
        fields: ['name', 'quantity', 'price', 'actions']
      }
    },
    computed: {
      ...mapState('cart', ['cart']),
      ...mapGetters('cart', ['totalCost']),
    },
    methods: {
      ...mapMutations('cart', ['removeProductFromCart'])
    }
  }
</script>