<template>
  <div>
    <div v-if="products.length">
      <paginate name="products" :list="products" :per="perPage">
      <!-- <p v-for="product in paginated('products')" :key="product.id">{{product.name}}</p>-->
        <b-card-group>
          <product-item
              v-for="product in paginated('products')"
              :product="product"
              :key="product.id"
              @addToCart="addProductToCart(product)"
          ></product-item>
        </b-card-group>
      </paginate>
      <paginate-links for="products" :classes="{
        'ul': 'pagination',
        'li': 'page-item',
        'li > a': 'page-link'
      }"></paginate-links>
    </div>
    <b-alert v-else variant="info">
      No hay productos que mostrar
    </b-alert>
  </div>
</template>

<script>
  import {mapActions, mapMutations, mapState} from 'vuex';
  import ProductItem from "./ProductItem";
  export default {
    components: {
      ProductItem
    },
    mounted() {
      this.fetchProducts();
    },
    data () {
      return {
        paginate: ['products'], // Assign alias
        perPage: 3
      }
    },
    computed: {
      ...mapState('products', ['products']),
    },
    methods: {
      ...mapActions('products', ['fetchProducts']),
      ...mapMutations('cart', ['addProduct']),
      addProductToCart (product) {
        console.log('product', product);
        this.addProduct(product);
      }
    }
  }
</script>