<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <p>
      Contador: {{$store.state.counter}}
    </p>
    <Counter></Counter>
  </div>
</template>

<script>
import Counter from '@/components/Counter'; // El @ indica el path src
export default {
  name: 'App',
  components: {
    Counter
  },
  data() {
    return {}
  }
}
</script>

<!--<style scoped lang="scss">-->
<!-- Si se agrega scoped al style, se encpsula los estilos a este solo archivo -->
<!-- Si se quiere que afecte a toda la web, no se pone scoped -->

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
