<template>
  <div id="app">
    <b-container>
      <b-nav tabs>
        <b-nav-item exact to="/todos">Listado</b-nav-item>
        <b-nav-item exact to="/todos/create">Crear TODO</b-nav-item>
      </b-nav>
      <router-view />
    </b-container>
  </div>
</template>

<style lang="scss">
</style>
